.Hero-start {
  background-image: url(../../../images/Hero\ logo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 450px;
}
.insidemask {
  min-height: inherit;
}

.mask {
  background-color: rgba(0, 0, 0, 0.6);
  min-height: inherit;
}

.mymb {
  font-size: 2.5rem;
}

.catchy-text {
  font-size: 1.5rem;
}
.Insidetext {
  margin-bottom: 0;
}
