.cards {
  width: 94%;
  padding: 0 10px 0;
  border-radius: 1rem;
  color: white;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2rem 3 rem rgba(71, 7, 234, 0.2);
  transition: all 300ms ease;
}

.cards:hover {
  box-shadow: none;
}

.cards .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards .top .left {
  display: flex;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.cards .top .left h2 {
  font-weight: 200;
  font-size: 1.4rem;
}

.cards .top .left img {
  width: 2.3rem;
  height: 2.3rem;
  border: 1px solid white;
  border-radius: 6px;
  padding: 0.4rem;
}

.cards .top .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.cards .top .right img {
  height: 1rem;
  margin-bottom: 10px;
}

.cards .middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards .middle h4 {
  font-size: 1rem;
}

.cards .middle.chip {
  height: 2rem;
}

.cards .bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cards .bottom .left {
  display: flex;
  flex-direction: column;
}

.cards .bottom .left small {
  font-size: 0.7rem;
}

.cards .bottom .left h5 {
  font-size: 1rem;
}

.cards .bottom .right {
  display: flex;
  gap: 2rem;
}

.cards .bottom .right .expiry,
.cards .bottom .right .cvv {
  display: flex;
  flex-direction: column;
}

.cards .bottom .right small {
  font-size: 0.7rem;
}

.cards .bottom .right h5 {
  font-size: 1rem;
}
